* {
  box-sizing: border-box;
  font-size: 20px;
}

@font-face {
    font-family: digitalFont;
    src: url(digital-7.ttf);
}

#calculator {
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 10px 10px 50px;
  padding: 15px;
  width: 205px;
  margin: 50px auto;
}

body {
  background-color: gray;
}

p {
  margin: 0;
  font-family: digitalFont;
  padding: 0 8px 0 0; 
}

#lastEntry {
  font-size: 1.2em;
}

#entryHistory {
  color: gray;
  font-size: 0.8em;
}

button {
  color: white;
  font-family: digitalFont;
  background-color: #3b3b3b;
  border: none;
  width: 40px;
  height: 35px;
  margin: 4px 0px;
  border-radius: 5px;
  box-shadow: 0 2px black;
  padding-top: 5px
}

.display {
  display: inline-block;
  background-color: #c3c2ab;
  border: 1px solid #b4b39d;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  text-align: right;
  padding: 5px;
  margin-bottom: 3px;
}

#clear {
  background-color: #a72d45;
  width: 85px;
}

#savedCalcs {
  width: 205px;
  margin: auto;
  padding: 10px 30px;
/*  background-color: rgba(255, 255, 255, 0.4);*/
  background-color: #c3c2ab;
  border: 1px solid #b4b39d;
  border-radius: 4px;
}

#savedCalcs li {
  list-style-type: none;
  font-family: digitalFont;
}



